@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-200 font-sans m-0 p-0;
}

.dark body {
  @apply bg-white text-gray-900;
}

a {
  color: #3b82f6; /* Tailwind blue-500 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #1a1a1a;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Utility classes for spacing */
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-10 {
  padding-top: 10rem;
  padding-bottom: 5rem;
}


.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.text-center {
  text-align: center;
}
